* {
  margin: 0%;
  padding: 0%;
  background-color: #19353d;
  box-sizing: border-box;
}

.nav-A {
  width: 100%;
  height: 120px;
  font-family: "Lucida Sans Regular", "Lucida Grande";
  text-decoration: none;
  list-style: none;
}
.logo1 {
  float: left;
  align-items: flex-start;
  padding-left: 4rem;
  padding-top: 3rem;
}
.name {
  font-family: "Lucida Sans Regular", "Lucida Grande";
  margin-right: 35px;
  text-decoration: none;
  list-style: none;
  display: inline;
  width: 100%;
}

.name ul {
  display: inline;
  padding-left: 17em;
  list-style: none;
  text-decoration: none;
}
.name ul li {
  display: inline;
  margin-left: 2rem;
}
.name a {
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  color: #fff;
}
.name h1 {
  color: #fff;
  line-height: 125px;
  font-size: 18px;
  margin-right: 69rem;
  font-family: "Lucida Sans Regular", "Lucida Grande";
  display: inline;

}
.nav {
  box-sizing: border-box;
  text-align: center;
  display: inline;
  border: none;
}

.nav li a {
  font-size: 10px;
  display: inline;
  border-radius: 5px;
  border: 1px solid white;
  padding: 7px 15px;
}
.text-container {
  width: 100%;
}

.text {
  float: left;
  padding-left: 4.5rem;
  margin-bottom: 15rem;
  padding-top: 10em;
}
.text-container h1 {
  font-size: 50px;
  font-family: "Lucida Sans Regular", "Lucida Grande";
  color: white;
}
.text-container p {
  color: #fff;
  font-size: 15px;
  font-family: "Lucida Sans Regular", "Lucida Grande";
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn {
  box-sizing: border-box;
  border: none;
  font-size: 15px;
  border: 2px solid white;
  background: #fff;
  color: #19353d;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: bold;
  font-family: "Lucida Sans Regular", "Lucida Grande";
}
.img {
  cursor: pointer;
  padding-left: 30rem;
  margin-right: 10rem;
}
.logo2 {
  height: 100px;
  width: 100%;
}
.down {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 15px;
  display: flex;
  width: 100%;
  font-family: "Lucida Sans Regular", "Lucida Grande";
}
.down ul {
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
  color: #19353d;
  padding-right: 10%;
  text-align: center;
  justify-items: center;
  padding-top: 3em;
}
.down li {
  list-style: none;
  background-color: #fff;
  width: 100%;
  padding-left: 7%;
  margin-right: 1px;
  text-align: left;
}
.down h1 {
  background-color: #fff;
  font-size: 2em;
  margin-bottom: 0.5em;
  padding-right: 2.5em;
  padding-top: 3rem;
}
.down li p {
  background-color: #fff;
  display: inline-block;
}
h2{
  background-color: #fff;
  font-size: 2em;
  margin-bottom: 0.5em;
  padding-right: 2.5em;
  padding-top: 2rem;
}
h5 {
  position: relative;
  top: 1rem;
  background: #fff;
  font-size: 10px;
  display: inline;
  margin-left: 5px;
  margin-bottom: 3rem;
}
.down2 {
  background-color: #fff;
  box-sizing: border-box;
  display: inline;
}
.footer {
  color: #333;
  background-color: #fff;
  font-size: 15px;
  font-family: "Georgia, Verdana, sans-serif";
  padding-top: 3rem;
  width: 100%;
  
}
